<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <!--转义输出 会将标签解析成字符串 -->
    <%= str %>
    <!-- 不转义输出会将标签解析成html标签 -->
    <%- str %>

    <!-- 循环语法 -->
    <ul>
        <% for(var i=0;i<arr.length;i++){ %>
        <li><%= arr[i] %></li>
        <% } %>
    </ul>
</body>

</html>