<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入千锋管理系统</title>
</head>
<style>
    div {
        text-align: center;
        color: #fff
    }
</style>

<body style="text-align:center;background:linear-gradient(90deg, #1596fb, #002dff)">
    <div>

        <img src=<%=headimgurl %> style="margin-top:100px" alt="" width="100">
        <br>
        <h3>欢迎<%= nickname %>登入</h4>
                <img src="/imgs/bg2.png" alt="" style="margin-top:100px;opacity:.5" width="250">
                <br />
    </div>
   <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
   <script>
	setTimeout(function(){
	wx.closeWindow();
	},100)
	
   </script>
</body>

</html>
